.pink{ 
    color: pink 
}
.blue{ 
    color: blue
}
.green{ 
    color: green 
}
.gray{ 
    color: gray 
}
.students{
    width: 40%;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0,0,0, .4);
    position: relative;
    &:first-child{
        border-top: 1px solid rgba(0,0,0, .4);
    }
    &:nth-child(even){
        background: rgba(0,0,0, .06);
    }
    .item{
        height: 40px;
        line-height: 40px;
        margin: 0 1em 0 1em; 
    }
    .more{
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        font-size: .8em;
        color: white;
        background: rgb(46, 53, 62);
        height: 30px;
        line-height: 30px;
        padding: 0 .5em;
    }
}