<div class="students" ng-repeat="student in $ctrl.students"> 
    <div class="item" ng-class='student.color'>
        {{ student.name }}
        <div class="more" ng-click="$ctrl.detalle(student.id)">Detail</div>
    </div>
</div>