@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background: rgba(0,0,0,.04);
}
h1{
    text-align: center;
}
