.student{
    width: 60%;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0,0,0, .4);
    position: relative;
    &:first-child{
        border-top: 1px solid rgba(0,0,0, .4);
    }
    &:nth-child(even){
        background: rgba(0,0,0, .06);
    }
    .info{
        margin-top: .5em;
        display: flex;
        justify-content: space-around;
        div{
            margin: .5 0;
            width: 100%;
            padding: 0 .5em;
            &:nth-child(odd){
                background: rgb(46, 53, 62);
                color: white
            }
        }
    }
    .header-qualification{
        display: flex;
        margin-top: .5em;
        div{
            background: rgb(46, 53, 62);
            color: white;
            width: 25%;
            text-align: center;
        }
        div:first-child{
            width: 75%;
            border-right: 1px solid white;
        }
    }
    .content-qualification{
        display: flex;
        .grades, .average{
            display: flex;
            justify-content: space-around;
            width: 75%;
            color: white;
            span, div{
                width: 100%;
                text-align: center;
                color: white;
                border-right: .5px solid black;
                border-bottom: .5px solid black;
            }
            .red{
                background: red;
                color: white;
            }
            .yellow{
                background: yellow;
                color: black;
            }
            .green{
                background: green;
                color: white;
            }
        }
        .average{
            width: 25%;
        }
    }
    
    .back{
        position: absolute;
        right: 0;
        bottom: -35px;
        font-size: .8em;
        color: white;
        background: rgb(46, 53, 62);
        height: 30px;
        line-height: 30px;
        padding: 0 .5em;
        cursor: pointer;
    }
}