<div class="student">
    <div class="info">
        <div>Name</div>
        <div>{{ $ctrl.student.name }}</div>
        <div>Years old</div>
        <div>{{ $ctrl.student.yearsOld }}</div>
    </div>
    
    <div class="header-qualification">
        <div>qualification</div>
        <div>average</div>
    </div>
    <div class="content-qualification">
        <div class="grades">
            <span ng-class="$ctrl.rangeGrade(grade)" ng-repeat="grade in $ctrl.student.grades">
                {{grade}}
            </span>
        </div>
        <div class="average">
            <div ng-class="$ctrl.rangeGrade($ctrl.student.average)">
                {{ $ctrl.student.average }}
            </div>
        </div>
    </div>
    <div class="back" ng-click="$ctrl.back()">Back</div>
</div>